apiVersion: v1
kind: Pod
metadata:
  name: pod-weather
  namespace: default
spec:
  volumes:
    - emptyDir: {}
      name: weather-data
  initContainers:
    - name: download-config
      image: curlimages/curl:7.85.0
      args:
        [
          "https://api.open-meteo.com/v1/forecast?latitude=37.41732883678367&longitude=126.97740696080976&current_weather=true",
          "-o",
          "/usr/share/nginx/html/index.html",
        ]
      volumeMounts:
        - mountPath: /usr/share/nginx/html
          name: weather-data
  containers:
    - image: nginx:1.29.3-alpine
      name: nginx-container
      ports:
        - containerPort: 80
      volumeMounts:
        - mountPath: /usr/share/nginx/html
          name: weather-data
